*{
    background-color: aqua;
}
.text{
    background-color: white;
    margin-top: 15%;
    margin-left: 40%;
    height: 200px;
    width: 200px;
    padding: 5%;
    border-radius: 25px;
    text-align: center;
}
input{
    background-color: lightgray;
}
h1{
    background-color: lightgray;
}
footer{
    margin-left: 75%;
    margin-top: 3%;
}